<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <!-- 将js　css设置绝对路径-->
    <script src="{{ static('jquery.js') }}"></script>
    <script src="{{ static('layui/layui.js') }}"></script>
    <script src="{{ static('js/bootstrap.js') }}"></script>
    <script src="{{ static('js/toastr.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static('layui/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ static('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('css/toastr.css') }}">

</head>
<body>
<div style="margin-left: 35%" id="send_id">
    <h1>忘记密码页面</h1>
    <div class="input-group" style="width: 400px;">
        <span class="input-group-addon" id="basic-addon1">输入密码：</span>
        <input type="password" class="form-control" placeholder="password1" aria-describedby="basic-addon1"
               id="password1" onchange="text_password(this.id, 'password1')">
    </div>
    <span style="color:#ff0009" id="word1_span" hidden>密码格式不正确请重新输入</span>
    <div class="input-group" style="width: 400px;">
        <span class="input-group-addon" id="basic-addon2">再次输入密码：</span>
        <input type="password" class="form-control" placeholder="password2" aria-describedby="basic-addon1"
               id="password2" onchange="text_password(this.id, 'password2')">

    </div>
    <span style="color:#ff0009" id="word2_span" hidden>两次密码不一致</span>
    <button class="btn btn-sm btn-success" style="margin-left: 20%;margin-top: 20px;" onclick="forget_password()">提交
    </button>
</div>
<script>
    function forget_password() {
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        var href = window.location.href;
        console.log(href);
        var name = href.split('/')[4];
        console.log(name);
        var forget_dict = {
            "password1": password1,
            "password2": password2,
            "name": name
        };
        $.ajax({
            // 请求方式
            type: "post",
            // contentType
            contentType: "application/json",
            // dataType
            dataType: "json",
            // url
            url: /set_password/,
            // 把JS的对象或数组序列化一个json 字符串
            data: JSON.stringify(forget_dict),
            // result 为请求的返回结果对象
            success: function (data) {
                if (data.code == '200') {
                    toastr.success(data.message);
                    window.location.href = '/login';
                } else {
                    toastr.error(data.message);
                }
            }
        });
    }

    function text_password(id, status) {
        var reg_word = /(^[0-9A-Za-z]{6,20}$)/;
        if (reg_word.test($("#" + id).val()) == false) {
            if (status == 'password1') {
                $("#word1_span").removeAttr('hidden');
            } else {
                $("#word2_span").removeAttr('hidden');
            }
        }
        var password1 = $("password1").val();
        var password2 = $("password2").val();
        if (password1 !== password2) {
            $("#word2_span").removeAttr('hidden');
        }
    }
</script>
</body>
</html>