<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>卓web</title>
    <link rel="stylesheet" href="../static/res/layui/css/layui.css">
    <link rel="stylesheet" href="../static/res/static/css/index.css">
</head>
<body>
<!-- nav部分 -->
<div class="nav index">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="{{ url('texts:index') }}">
                <img src="../static/res/static/img/logo.png" alt="网络">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                {% if username %}
                    <li class="layui-nav-item"><a href="{{ url('texts:user') }}">个人中心</a></li>
                    <li class="layui-nav-item"><a href="{{ url('study:study_first') }}">邮箱</a></li>
                    <li class="layui-nav-item"><a href="{{ url('study:community') }}">社区</a></li>
                    <li class="layui-nav-item"><a href="{{ url('reptiles:reptile_index') }}">爬虫</a></li>
                    <li class="layui-nav-item"><a href="{{ url('texts:table') }}">表格</a></li>
                    <li class="layui-nav-item"><a href="{{ url('texts:outlogin') }}">退出登陆</a></li>
                {% else %}
                    <li class="layui-nav-item"><a href="{{ url('texts:login') }}">去登陆</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- banner部分 -->
<div>
    <div class="layui-carousel" id="banner">
        <div carousel-item>
            <div>
                <img src="../static/res/static/img/banner1.jpg">
                <div class="panel">
                    <p class="title">with the Fairies</p>
                    <p>欢迎</p>
                </div>
            </div>
            <div>
                <img src="../static/res/static/img/banner2.jpg">
                <div class="panel">
                    <p class="title">茜さす by</p>
                    <p>夕阳下的花田</p>
                </div>
            </div>
            <div>
                <img src="../static/res/static/img/banner3.jpg">
                <div class="panel">
                    <p class="title">Fantasy Place</p>
                    <p>水流和阳光</p>
                </div>
            </div>
            <div>
                <img src="../static/res/static/img/banner4.jpg">
                <div class="panel">
                    <p class="title">sunshine</p>
                    <p>萤火虫</p>
                </div>
            </div>
            <div>
                <img src="../static/res/static/img/banner5.jpg">
                <div class="panel">
                    <p class="title">Japanese</p>
                    <p>夏天感觉</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main部分 -->
<div class="main-product">
    <div class="layui-container">
        <p class="title">专为前端而研制的<span>核心产品</span></p>
        <div class="layui-row layui-col-space25">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="content">
                    <div><img src="../static/res/static/img/Big_icon1.png"></div>
                    <div>
                        <p class="label">JS基础库</p>
                        <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                    </div>
                    <a href="javascript:;">查看产品 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img src="../static/res/static/img/Big_icon2.png"></div>
                    <div>
                        <p class="label">CSS处理</p>
                        <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                    </div>
                    <a href="javascript:;">查看产品 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img src="../static/res/static/img/Big_icon3.png"></div>
                    <div>
                        <p class="label">兼容性</p>
                        <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                    </div>
                    <a href="javascript:;">查看产品 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img src="../static/res/static/img/Big_icon4.png"></div>
                    <div>
                        <p class="label">响应式</p>
                        <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                    </div>
                    <a href="javascript:;">查看产品 ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-service">
    <div class="layui-container">
        <p class="title">为客户打造完美的<span>专业服务</span></p>
        <div class="layui-row layui-col-space25 layui-col-space80">
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img src="../static/res/static/img/home_img1.jpg"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 前端指导</p>
                        <span></span>
                        <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img src="../static/res/static/img/home_img2.jpg"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 前端指导</p>
                        <span></span>
                        <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img src="../static/res/static/img/home_img3.jpg"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 前端指导</p>
                        <span></span>
                        <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img src="../static/res/static/img/home_img4.jpg"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 前端指导</p>
                        <span></span>
                        <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-more"><a href="">查看更多</a></div>
    </div>
</div>

<script src="../static/res/layui/layui.js"></script>

<script>
    layui.config({
        base: '../static/res/static/js/'
    }).use('firm');
</script>
</body>
</html>