<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <script src="../static/layui/layui.js"></script>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript" src="../static/register.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">

</head>
<body background="../static/login.jpg" style="width: auto;height: auto">
<div style="border:1px solid #ffa388;width:400px;height:220px;position:absolute;left:70%;margin-left:-250px;top:50%;margin-top:-190px;background-color:rgba(255,163,136,0.5);">

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">账号：</span>
        <input type="text" class="form-control" placeholder="Username" style="width: 300px;" id="username">
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon2">密码：</span>
        <input type="password" class="form-control" placeholder="Password" style="width: 300px;" id="password">
    </div>
    {#    <button id="button_register" style="margin-left: 40%; margin-top: 20px;" onclick="registerData()">注册</button>#}
    <button id="button_login" type="button" class="btn btn-success btn-default"
            style="margin-left: 45%; margin-top: 20px;" onclick="loginData()">登陆
    </button>
    <div style="margin-left: 35%; margin-top: 20px;">
        <span style="color:#FFF;">没有账号？</span>
        <a href="{{ url('texts:register') }}" style="color: #FFF">点击我</a>
    </div>

</div>
</body>
</html>