<!DOCTYPE html>
<html lang="en">
<head>
<title>News</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href='#' rel='stylesheet' type='text/css'>
<link href='#' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
</head>
<body> 
<!-- banner -->
<div class="sub-banner">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a  href="{{ url('texts:index') }}"><h1>Games <img src="../static/images/c1.png" alt=" " /> Zone</h1></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href="{{ url('texts:index') }}">Home</a></li>
						<li class="hover-effect"><a href="{{ url('texts:about') }}">About</a></li>
						<li class="hover-effect"><a href="{{ url('texts:games') }}">Games</a></li>
						<li class="hover-effect active"><a href="{{ url('texts:news') }}">News</a></li>
						<li class="hover-effect"><a href="{{ url('texts:contact') }}">Contact</a></li>
					</ul>
				</div>

			</div>
		</nav>
</div>
<!-- banner -->
<div class="events-w3layouts">
	<h2>News</h2>
	<a href="{{ url('texts:single') }}"><div class="col-md-7 events-left-agile-agileits-w3layouts">
		<div class="events-text-w3-agile events-text1">
			<h4>June 20, 2017</h4>
			<p>Phasellus faucibus semper eros, quis mauris </p>
			<ul>
				<li>by Admin</li>
				<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 10</li>
			</ul>
		</div>
	</div></a>
	<div class="col-md-5 events-right-agile">
		<a href="{{ url('texts:single') }}"><div class="events-right-top">
			<div class="events-text-w3-agile events-text2">
				<h4>July 20, 2017</h4>
				<p>Aenean imperdiet volutpat tortor </p>
				<ul>
					<li>by Admin</li>
					<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 20</li>
				</ul>
			</div>
		</div></a>
		<a href="{{ url('texts:single') }}"><div class="events-right-bottom">
			<div class="events-text-w3-agile events-text2">
				<h4>Aug 20, 2017</h4>
				<p>Fusce aliquam purus  consectetur</p>
				<ul>
					<li>by Admin</li>
					<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 15</li>
				</ul>
			</div>
		</div></a>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="events-section2-agileinfo">
<div class="container">
	<div class="blog1-w3ls">
		<div class="col-md-4 blog-image-w3l">
			<a href="{{ url('texts:single') }}"><img src="../static/images/ng1.jpg" alt=" " /></a>
		</div>
		<div class="col-md-8 blog-text-w3ls">
			<a href="{{ url('texts:single') }}"><h4>Quisque in lectus erat</h4></a>
			<div class="item_info">
					<ul>
						<li><a href="#"><i class="glyphicon glyphicon-user"></i>Admin</a></li>
						<li><i class="glyphicon glyphicon-calendar"></i>14.May.2017</li>
						<li><a href="#"><i class="glyphicon glyphicon-comment"></i>20 Comments</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-heart"></i>300 Likes</a></li>
					</ul>				
			 </div>
			 <p>Aliquam suscipit neque massa, eu maximus felis gravida vel. Vestibulum lacinia risus risus, ut iaculis felis fermentum id. Cras at vulputate velit, vitae vestibulum augue. Etiam lorem nunc, mattis ac dignissim sit amet, varius et ex. Phasellus eleifend nibh justo, pulvinar cursus sapien commodo non.</p>
			 <a href="{{ url('texts:single') }}" class="blog-read" >Read More</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="blog2-w3ls">
		<div class="col-md-4 blog-image-w3l">
			<a href="{{ url('texts:single') }}"><img src="../static/images/ng2.jpg" alt=" " /></a>
		</div>
		<div class="col-md-8 blog-text-w3ls">
			<a href="{{ url('texts:single') }}"><h4>In finibus vel metus</h4></a>
			<div class="item_info">
					<ul>
						<li><a href="#"><i class="glyphicon glyphicon-user"></i>Admin</a></li>
						<li><i class="glyphicon glyphicon-calendar"></i>17.Aug.2017</li>
						<li><a href="#"><i class="glyphicon glyphicon-comment"></i>20 Comments</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-heart"></i>300 Likes</a></li>
					</ul>				
			 </div>
			 <p>Aliquam suscipit neque massa, eu maximus felis gravida vel. Vestibulum lacinia risus risus, ut iaculis felis fermentum id. Cras at vulputate velit, vitae vestibulum augue. Etiam lorem nunc, mattis ac dignissim sit amet, varius et ex. Phasellus eleifend nibh justo, pulvinar cursus sapien commodo non.</p>
			 <a href="{{ url('texts:single') }}" class="blog-read" >Read More</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="blog3-w3ls">
		<div class="col-md-4 blog-image-w3l">
			<a href="{{ url('texts:single') }}"><img src="../static/images/ng3.jpg" alt=" " /></a>
		</div>
		<div class="col-md-8 blog-text-w3ls">
			<a href="{{ url('texts:single') }}"><h4>Nam eget ligula eu</h4></a>
			<div class="item_info">
					<ul>
						<li><a href="#"><i class="glyphicon glyphicon-user"></i>Admin</a></li>
						<li><i class="glyphicon glyphicon-calendar"></i>24.Aug.2015</li>
						<li><a href="#"><i class="glyphicon glyphicon-comment"></i>20 Comments</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-heart"></i>300 Likes</a></li>
					</ul>				
			 </div>
			 <p>Aliquam suscipit neque massa, eu maximus felis gravida vel. Vestibulum lacinia risus risus, ut iaculis felis fermentum id. Cras at vulputate velit, vitae vestibulum augue. Etiam lorem nunc, mattis ac dignissim sit amet, varius et ex. Phasellus eleifend nibh justo, pulvinar cursus sapien commodo non.</p>
			 <a href="{{ url('texts:single') }}" class="blog-read" >Read More</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</div>

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-left-w3">
			<h4>Contact</h4>
			<ul>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
				<li><a href="mailto:example@mail.com"><h6>ex@mail.com</h6></a></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
				<li><h6>+18045678834</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
				<li><h6>4th Avenue,London</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></li>
				<li><h6>(0033)6544 5453 644</h6></li>
			</ul>
		</div>
		<div class="col-md-5 footer-middle-w3">
			<h4>Latest Games</h4>
			<div class="col-md-3 img-w3-agile">
				<a href="{{ url('texts:single') }}"><img src="../static/images/ng1.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="{{ url('texts:single') }}"><img src="../static/images/ng2.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="{{ url('texts:single') }}"><img src="../static/images/ng3.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="{{ url('texts:single') }}"><img src="../static/images/ng4.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="{{ url('texts:single') }}"><img src="../static/images/ng5.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="{{ url('texts:single') }}"><img src="../static/images/ng6.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="{{ url('texts:single') }}"><img src="../static/images/ng7.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="{{ url('texts:single') }}"><img src="../static/images/ng8.jpg" alt=" " /></a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 footer-right-w3">
			<a href="{{ url('texts:index') }}"><h4>Games <img src="../static/images/f1.png" alt=" " /> Zone</h4></a>
			<p>Donec lobortis diam eu auctor porta. Phasellus in elementum tortor, sit amet imperdiet urna pellentesque non risus porta.</p>
			<p class="agileinfo">Suspendisse convallis malesuada libero, non rutrum arcu pellentesque lacinia.</p>
		</div>
		<div class="clearfix"></div>

	</div>
</div>
<!-- //footer -->
