<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/reptile.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div id="body_div">
        <h1>爬虫练习页面</h1>
        <button type="button" class="layui-btn layui-btn-normal" onclick="reptile_data()">开始爬取数据</button>
    </div>
    <div id="main" style="height:600px;"></div>
</body>

</html>