<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天神下凡</title>
    <script src="../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/register.js"></script>
</head>
<body>
<ul class="layui-nav layui-bg-blue" lay-filter="">
  <li class="layui-nav-item"><a href="{{ url('texts:index') }}">首页</a></li>
  <li class="layui-nav-item layui-this"><a href="{{ url('texts:table') }}">个人资料</a></li>
  <li class="layui-nav-item"><a href="{{ url('texts:outlogin') }}">退出登陆</a></li>
  <li class="layui-nav-item">
    <a href="javascript:;">解决方案</a>
    <dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="">移动模块</a></dd>
      <dd><a href="">后台模版</a></dd>
      <dd><a href="">电商平台</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="">社区</a></li>
</ul>
    <div style="margin-left: 35%">
        <h1>Hello, world!</h1>
        <p>你好，{{ details_username }}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Let's take a look
        </a></p>
    </div>
    {% if user_admin %}
        <form action="/image/" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="上传">
        </form>

    {% endif %}
</div>
<div style="margin-left: 5%">
    {% if img %}
        {% for data in img %}
    <div class="row" style="width:25%;float:left;">
        <div class="col-sm-6 col-md-4" style="width: 379px;">
            <div class="thumbnail">
                <img src='../{{ data.img_url }}' alt="..." style="width: 339px;height: 339px;">
                <div class="caption">
                    <h3>{{ data.content_one }}</h3>
                    <p>{{ data.content_two }}</p>
                    <p><a href="#" class="btn btn-warning" role="button" data-toggle="modal" data-target="#myModal2"
                          data-backdrop="static" onclick="imageData('{{ data.id }}')">详情</a></p>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
    {% endif %}

</div>

<div class="modal fade" id="myModal2">
    <div class="jumbotron" style="margin-top: 100px;">
        <div style="margin-left: 40%" id="imageid">
        </div>
        <p style="margin-left: 45%"><a class="btn btn-danger btn-lg" href="#" role="button" data-dismiss="modal">close
        </a></p>
    </div>
     
</div>

</body>
</html>